.experience {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 100%;
  min-height: 13vh;
}

/* ====================MEDIA QUERY MD================= */

@media screen and (max-width: 1024px) {
}
/* ====================MEDIA QUERY SM================= */

@media screen and (max-width: 600px) {
  .experience {
    gap: 2rem;
    padding: 0 3rem;
  }
}
