.about_container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.about_me {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about_content {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.about_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.highlight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 44%;
  background-color: black;
  border-radius: 0.5rem;
  padding: 3rem 1rem 1rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.highlight_profile {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.highlight_profile-image {
  width: 7rem;
  height: 8rem;
}

.highlight_profile_image-img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: contain;
}

.highlight_listitems {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #ffffff;
}

.highlight_list {
  font-size: 0.9rem;
}

.highlight_project {
  display: flex;
  gap: 1rem;
}

.highlight_project-deployed_text {
  font-size: 0.9rem;
}

.years_of-experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 1.3rem;
  background-color: #111111;
  font-size: 2rem;
}

.projects_completed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 1.3rem;
  background-color: #111111;
  font-size: 2rem;
}

.position_description {
  width: 100%;
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 0.5rem;
  margin-top: 1.3rem;
  background-color: #111111;
}

.favourite_tools {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 44%;
  background-color: black;
  border-radius: 0.5rem;
  padding: 3rem 1rem 1rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.favourite_image {
  width: 1.5rem;
  height: 1.5rem;
}

.favourite_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.7rem;
  font-size: 0.9rem;
}

.favourite_listitems {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.connect_links-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.7rem;
  font-size: 0.9rem;
}

.connect_links-listitems-a {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.connect_links-listitems {
  padding: 0.3rem 0.7rem;
  background-color: #111111;
  border-radius: 0.3rem;
}

.key_skills {
  background-color: black;
  border-radius: 0.5rem;
  padding: 3rem 1rem 1rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
  width: 100%;
}

.key_skills-list {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding-left: 1.5rem;
}

.key_skills-listitems {
  padding: 0.3rem 0.5rem;
  background-color: #111111;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  list-style-type: disc;
}

.key_skills-list::marker {
  font-size: 1rem;
}

.about_heading,
.highlight_heading,
.favourite_heading,
.connect_link-heading,
.key_skills-heading,
.community_heading,
.hobbies_heading,
.journey_heading {
  font-size: 1.7rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.125);
  margin-bottom: 0.8rem;
}

@media screen and (max-width: 1024px) {
  .about_container {
    .about_heading,
    .highlight_heading,
    .favourite_heading,
    .connect_link-heading,
    .key_skills-heading,
    .community_heading,
    .hobbies_heading,
    .journey_heading {
      font-size: 1.7rem;
    }

    .about_content {
      gap: 2.5rem;
    }
    .years_of-experience-span,
    .projects_completed-span {
      font-size: 1.5rem;
    }

    .highlight_project-deployed_text {
      font-size: 0.75rem;
    }

    .position_description {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 640px) {
  .about_container {
    gap: 2.6rem;
    padding: 1rem;
    width: 100%;
    font-size: 0.9rem;

    .about_heading,
    .highlight_heading,
    .favourite_heading,
    .connect_link-heading,
    .key_skills-heading,
    .community_heading,
    .hobbies_heading,
    .journey_heading {
      font-size: 1.5rem;
    }

    .about_card {
      gap: 1rem;
      flex-wrap: wrap;
    }

    .highlight,
    .favourite_tools {
      width: 100%;
    }

    .favourite_tools {
      gap: 2.5rem;
    }
  }
}
